@import url("https://fonts.googleapis.com/css?family=Overpass:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Overpass", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: var(--secondary-font);
    letter-spacing: 0.10rem;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding: 5rem 2rem;
    margin: 0 auto;
}

html, body {
    width: 100%;
    max-height: 100%;
    scroll-behavior: smooth;
    font-family: var(--primary-font);
}

.container {
    width: 100%;
    min-height: 100%;
    color: #ffffff;
    background-color: #000000;
}

.title {
    font-size: 3rem;
    margin: 1.5rem 0rem;
    pointer-events: none;
}

.container header {
    position: absolute;
    width: 100%;
    height: 5rem;
    padding: 1.5rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9;
    transition: all 0.3s;
}

.container header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000000cc;
    box-shadow: 0px 0px 15px #ffffff50;
}

.container header ul {
    display: flex;
    gap: 4rem;
}

.container header ul li a {
    font-size: 0.9rem;
    transition: all 0.3s;

    &:hover {
        color: #d3d3d3;
    }
}

.container header .menu-btn {
    display: none;
    font-size: 1rem;
    cursor: pointer;
}

.container .about-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .about-container .profile {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 10px 20px #00000033;
    margin-bottom: 2rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.container .about-container .about-content {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
    max-width: 800px;
    line-height: 26px;
    font-size: 0.95rem;
    font-weight: 500;
    letter-spacing: 0.06rem;
    text-align: center;
    pointer-events: none;
}

.container .about-container .social-links {
    width: 100%;
    max-width: 300px;
    margin-top: 2rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    i {
        transition: all 0.5s;

        &:hover {
            transform: scale(1.1);
            text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
        }
    }
}

.skills-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    section {
        padding: 3rem 1rem !important;
        margin: 0;
    }

    .title {
        font-size: 2.5rem;
        margin: 1.5rem 0rem;
    }
    
    .container header {
        height: 4rem;
        padding: 0rem 2.5rem;

        h2 {
            font-size: 1.2rem;
        }
    }

    .container header ul {
        gap: 3rem;
    }

    .container header ul li a {
        font-size: 0.7rem;
    }

    .container .about-container .profile {
        width: 200px;
        height: 200px;
    }

    .container .about-container .about-content {
        max-width: 700px;
        font-size: 0.80rem;
        letter-spacing: 0.04rem;
        line-height: 22px;
    }

    .container .about-container .social-links {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 576px) {
    section {
        padding: 1rem !important;
        margin: 0;
    }

    .title {
        font-size: 1.8rem;
        margin: 1rem 0rem;
    }

    .container header ul {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #000000;
        transform: translateX(-100%);
        transition: transform 0.3s;

        li {
            margin: 0.3rem 0rem;
        }

        li a {
            font-size: 0.8rem;
        }

        &.show {
            transform: translateX(0);
        }
    }

    .container header .menu-btn {
        display: block;
        z-index: 9;
    }

    .container .about-container .profile {
        width: 150px;
        height: 150px;
    }

    .container .about-container .about-content {
        font-size: 0.70rem;
        line-height: 18px;
        letter-spacing: 0.02rem;
        max-width: 600px;
    }

    .container .about-container .social-links {
        max-width: 220px;
        font-size: 1.6rem;
    }
}